<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
       	http://www.springframework.org/schema/context/spring-context.xsd
       	http://www.springframework.org/schema/aop
       	http://www.springframework.org/schema/aop/spring-aop.xsd
       	http://www.springframework.org/schema/jee
       	http://www.springframework.org/schema/jee/spring-jee.xsd">

	<!-- 项目内配置 -->
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg>
			<bean class="com.zaxxer.hikari.HikariConfig">
				<property name="driverClassName" value="${db.driver}" />
				<property name="jdbcUrl" value="${db.url}" />
				<property name="username" value="${db.user}" />
				<property name="password" value="${db.pwd}" />
				<!-- Default settings -->
				<!-- 控制自动提交行为 default：true -->
				<property name="autoCommit" value="true" />
				<!--连接池获取的连接是否只读 default:false -->
				<property name="readOnly" value="false" />
				<!--最大连接超时时间 default：30秒 -->
				<property name="connectionTimeout" value="30000" />
				<!--最大空闲超时时间 default：10分钟 -->
				<property name="idleTimeout" value="600000" />
				<!--连接池中一个连接的最大生命周期 default：30分钟 -->
				<property name="maxLifetime" value="1800000 " />

				<property name="maximumPoolSize" value="15" />
				<property name="minimumIdle" value="10" />
			</bean>
		</constructor-arg>
	</bean>

	<!-- jndi查找 -->
	<!-- <jee:jndi-lookup id="dataSource" jndi-name="java:jboss/datasources/oracle" /> -->
</beans>